<nav class="subnav">
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" routerLink="orders" routerLinkActive="active">Orders</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="inventory" routerLinkActive="active">Inventory</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"routerLink="distribution-centers" routerLinkActive="active">Distribution Centers</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="settings" routerLinkActive="active">Settings</a>
			</li>
		</ul>
	</nav>